<h1>Welcome <%= @current_user.full_name %></h1>

<%= link_to "Download Resume as PDF", root_path(format: :pdf), class: "btn btn-default" %>

<%= render partial: "profile" %>


<hr/>

<h2>You are following: </h2>

<% @current_user.all_following.each do |user| %>
  <li><%= user.full_name %> - <%= link_to "unfollow", stop_following_path(user_id: user.id), method: :post, class: "btn btn-danger", data: {confirm: "Really stop following the super awesome tweets from #{user.full_name}?"} %> </li>
<% end %>


<h2>All Users</h2>

<% @users.each do |user| %>
  <li><%= user.full_name %> -
    <% if @current_user.following?(user) %>
    <% else %>
      <%= link_to "follow", start_following_path(user_id: user.id), method: :post, class: "btn btn-default"%>
    <% end %>
    </li>
<% end %>
